
body{
cursor: zoom-in;
}
.one{
    background-image: linear-gradient(130deg, pink, pink, pink, purple);
    height: 150px;
    width: 100%;
    height: 600px;
}
img{
    width: 35%;
    height: 150px;
    position: absolute;
    top: 20px;
    left: 380px;
    border: none;
    border-radius: 40px 40px 0px 0px;
    box-shadow: 0px 2px 2px 2px grey; 
}
.card{
    height:385px ;
    width: 35%;
    background-color: white;
    border:none;
    border-radius: 0px 0px 40px 40px;
    position: absolute;
    bottom: 13px;
    left: 380px;
    box-shadow: 0px 2px 2px 2px grey; 
}
#avatar{
    width: 130px;
    height: 130px;
    border: none;
    border-radius: 70px;
    position: absolute;
    top: -80px;
    left: 155px;
    box-shadow: 3px 4px 3px 1px grey
}
#name{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: x-large;
margin-top: 55px;
margin-left: 120px;
}
#post{
    color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -25px;
    margin-left: 170px;
}
#number1{
    display: inline;
    margin-left: 80px;
    
}
#number2{
    display: inline;
    margin-left: 160px;
    
}
#follow1{
    color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline;
    margin-left: 65px;
}
#follow2{
    color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline;
    margin-left: 145px;
}
#button{
    background-color: yellow;
    color: black;
    height: 50px;
    width: 90%;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    font-size: larger;
    margin-top: 30px;
    margin-left: 20px;
}
#detail{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: grey;
margin-top:30px;
margin-left: 50px;
}