.grid-container{
    background-color: brown;
    padding: 20px;
    display: grid;
    grid-template-areas: 
    'header header header header header header'
    'menu main maain main right right'
    'menu footer footer footer footer footer';
 
}
.grid-item{
    background-color:yellow;
    border: 1px solid blue;
    padding: 20px;
    font-size: 40px;
    text-align: center;
}

#grid1{
grid-area: header;
}
#grid2{
    grid-area: menu;
}
#grid3{
    grid-area: main;
}
#grid4{
    grid-area: right;
}
#grid5{
    grid-area: footer; 
}