img{
    width: 100px;
    height: 50px;
    position: relative;
    top: 20px;
    left: -40px;
}
a{
    text-decoration: none;
}
button{
    width: 150px;
    height: 40px;
    background-color: blue;
    color: white;
    margin-left: 20px;
    border: none;
}
.cover{
    background-image: url(./doctor-hands-260nw-524811304.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin-top: 20px;
   
}
.blue{
    color: blue;
}
.heading{
    padding-left: 250px;
    padding-top: 30px;

}
p{
    padding-left: 250px;  
}
.Btwo{
    width: 120px;
    height: 40px;
    background-color:black;
    color: white;
    margin-left: 20px;
    border: none;
}
.Bone{
    width: 150px;
    height: 40px;
    background-color: blue;
    color: white;
    margin-left: 20px;
    border: none;
   margin-left: 250px;
}
 .one{
    background-image: url(./div2.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    width: 200px;
    height:180px;
    display: inline-block;
}
.two{ 
    background-image: url(./div2.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    width: 200px;
    height:180px;
    display: inline-block;
    margin-left: 10px;

}
.three{
    background-image: url(./div2.jpg);
    background-repeat: no-repeat;
   background-size: auto;
   width: 200px;
    height:180px;
    display: inline-block;
    margin-left: 10px; */
}
.section{
   position: relative;
   top: -70px;
   left: 250px;
}
#line1{
    padding-left: 10px;
    color: white;
}
#line2{
    padding-left: 10px;
    color: white;
}
#line3{
   padding-left: 10px;
   color: white;
}
#head1{
   margin-top: -10px;
   margin-left: 8px;
   color: white;
}
#head2{
    margin-top: -10px;
    margin-left: 8px;
    color: white;
 }
 #head3{
    margin-top: -10px;
    margin-left: 8px;
    color: white;
 }
 #lorem1{
    padding-left: 10px;
    margin-top: -10px;
    color: white;
 }
 #lorem2{
    padding-left: 10px;
    margin-top: -10px;
    color: white;
 }
 #lorem3{
    padding-left: 10px;
    margin-top: -10px;
    color: white;
 }
 #head4{
    padding-left: 8px;
    color: white;
 }
 #head5{
    padding-left: 8px;
    color: white;
 }
 #head6{
    padding-left: 8px;
    color: white;
 }